/* // flash before load my css fix - JS inject this into DOM */
body {
 visibility: visible !important;
}

/* // fix header bottom line */
#main {
  margin-top: -1px;
}

#section-header .header__content {
  border-bottom: none;
}






/* main menu mode:
  - desktop: hide main menu, move top bar menu
  - mobile: show main menu, hide top bar menu
*/
@media (min-width: 992px) {
   #section-top-bar .top-bar__menu {
     font-size: 16px;
     justify-content: flex-start;
     order: -1;
   }
}

@media (min-width: 992px) {
  #section-top-bar .top-bar__info {
    order: 1;
    justify-content: flex-end;
  }
}










/* // page title style */
@media (min-width: 992px) {
  #section-title .title__heading {
    font-size: 40px;
    color: red;
}
      
#section-title .title__content {
  text-align: left;
  }
}

  
/* data picker position */
@media (min-width: 992px) {
  #section-header .header__date-picker-wrapper {
    height: 20px;
    min-width: 100%;
    background: red;
    transform: translateY(250px);
  }
}

